# Enable Rewrite Engine
RewriteEngine On

# Redirect HTTP and WWW to HTTPS Non-WWW (Canonical Domain: solaricagroups.com)
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^(.*)$ https://solaricagroups.com/$1 [R=301,L]
