# Enable Rewrite Engine
RewriteEngine On

# Redirect WWW to Non-WWW (Permanent 301 Redirect)
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Redirect HTTP to HTTPS (Permanent 301 Redirect)
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
